nav ul li {
    border: none;
    border-color: transparent;
    outline: none;
    outline-color: transparent;
    box-shadow: none;
}

nav ul li a {
    border: none;
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

#nav ul li a {
    outline: none;
    box-shadow: none;
}

a {
    box-shadow: none;
}

.picShadow {
    box-shadow: rgb(6, 6, 6) 5px 10px 15px;
}

.homeButton {
    width: auto;
    font-size: inherit;
    margin: 0 10px 2rem;
}


.card {
    box-shadow: 0px 5px 10px darkslategrey;
}

.NoDesktop {
    display: none;
}

.NoMobile {
    display: block;
}


@media screen and (min-width: 2400px) {

    .NoDesktop {
        display: none;
    }
    
    .NoMobile {
        display: block;
    }
}

@media screen and (max-width: 1680px) {
    .NoDesktop {
        display: none;
    }
    
    .NoMobile {
        display: block;
    }

}


@media screen and (max-width: 1280px) {
    .NoDesktop {
        display: none;
    }
    
    .NoMobile {
        display: block;
    }
    
}

@media screen and (max-width: 980px) {
    .NoDesktop {
        display: block;
    }
    
    .NoMobile {
        display: none;
    }
    
}


@media screen and (max-width: 767px) {
    .NoDesktop {
        display: block;
    }
    
    .NoMobile {
        display: none;
    }
    .homeButton {
        width: 100%;
        font-size: 1.5rem;
        margin: auto auto 2rem auto;
    }
    
}


@media screen and (max-width: 480px) {
    .NoDesktop {
        display: block;
    }
    
    .NoMobile {
        display: none;
    }
    
}


@media screen and (max-width: 360px) {
    .NoDesktop {
        display: block;
    }
    
    .NoMobile {
        display: none;
    }
    
}
